.section-3 .container .category-card-container section .category-card{
    display: flex;
    width: 32.5%;
    background-color: #FEFBEC;
    height: 14vh;
    border-radius: 5px;
 }

 .section-3 .container .category-card-container section .category-card .category-card-image{
   background-color: #2B3784;
   width: 25%;
   height: 14vh;
   border-radius: 5px 0px 0px 5px;
   display: flex;
   justify-content: center;
}

 .section-3 .container .category-card-container section .category-card .category-card-image img{
    width: 70%;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
 }

 .section-3 .container .category-card-container section .category-card .category-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin : 16px 0px;
    margin-left: 16px;
 }

 @media (max-width : 900px){
   .section-3 .container .category-card-container section .category-card{
      width: 48%;
      
   }
 }
 @media (max-width : 620px){
   .section-3 .container .category-card-container section .category-card{
      height: 10vh;
      width: 100%;
   }
   .section-3 .container .category-card-container section .category-card .category-card-image {
      height: 10vh;
   }
   .section-3 .container .category-card-container section .category-card .category-card-image img{
      height: 10vh;
   }
   .section-3 .container .category-card-container section .category-card .category-card-content {
      margin : 10px 0px;
      margin-left: 16px;
   }
   .section-3 .container .category-card-container section .category-card .category-card-content h4 {
      font-size: 18px;
   }
   .section-3 .container .category-card-container section .category-card .category-card-content p {
      font-size: 18px;
   }
   
 }