.section-1 {
    width : 100% ; 
    height : 88vh ; 
    background-image: linear-gradient(to bottom, #447BBE, #4F759B);
    opacity: 90%;
}
.section-1 .container { 
   max-width : 1264px;
   margin : 0 auto;
}

.section-1 .container header {
    display: flex;
    justify-content : space-between;
    height: 16vh;
    align-items:center;
    padding: 0px/*Vertical*/  32px/*Horizontal*/;

    background-color: red;
    border : solid black;
}

.section-1 .container header h2 {
    color : #FCFFF7;
    font-size : 35px;
}

.section-1 .container header nav button {
    height: 48px;
    width: 192px;
    border-radius: 32px;
    font-weight: bold;
    border: 0 ;
    outline: 0;
    cursor :pointer;
}

.section-1 .container header nav button:nth-child(1) {
    background-color: transparent;
    border : 2px solid #FCFFF7;
    margin-right: 8px;
}
.section-1 .container header nav button:nth-child(2) {
    background-color: rgb(177, 19, 19, 0.9);
   
}

.section-1 .container main  {
    display : flex;
    height: 72vh;


     /*  */
    border : solid rgb(212, 0, 255);
}


.section-1 .container main section {
    width: 50%;
}

.section-1 .container main section:nth-child(1) {



     /*  */
    border : solid yellow;
    background-color: rgba(231, 210, 14, 0.2);
}

.section-1 .container main section:nth-child(2) {
    display:flex;
    align-items: flex-end; /*Vertical*/
    justify-content: flex-end; /*Horizontal*/


    /*  */
    border : solid rgb(255, 0, 0);
    background-color: rgba(238, 5, 44, 0.2);
    overflow: hidden;
}




