.section-1 {
    width : 100% ; 
    height : 88vh ; 
    background-image: linear-gradient(to bottom,#ED4731, #ED4731  ,#b11313);
  
}
.section-1 .container { 
   max-width : 1264px;
   margin : 0 auto;
}

.section-1 .container header {
    display: flex;
    justify-content : space-between;
    height: 16vh;
    align-items:center;
    padding: 0px/*Vertical*/  32px/*Horizontal*/;

    /*  */
    /* background-color: rgb(95, 236, 0);
    border : solid black; */
}

.section-1 .container header h2 {
    color : #FEFBEC;
    font-size : 35px;
}

.section-1 .container header nav button {
    height: 48px;
    width: 192px;
    border-radius: 32px;
    font-weight: bold;
    border: 0 ;
    outline: 0;
    cursor :pointer;
}

.section-1 .container header nav button:nth-child(1) {
    background-color: transparent;
    border : 2px solid #FEFBEC;
    margin-right: 8px;
    color: #FEFBEC;
}
.section-1 .container header nav button:nth-child(2) {
    background-color: #2B3784;
    color: #FEFBEC
}

.section-1 .container main  {
    display : flex;
    height: 72vh;
    

     /*  */
    /* border : solid rgb(109, 0, 131); */
}


.section-1 .container main section {
    width: 50%;
}

.section-1 .container main section:nth-child(1) {
    
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 21vh 0px 0px 32px;
   

     /*  */
    /* border : solid yellow;
    background-color: rgba(231, 210, 14, 0.2); */
}

.section-1 .container main section:nth-child(1) h1 {
    color : #FEFBEC ;
    font-size: 46px;
    line-height: 46px;
    
}
.section-1 .container main section:nth-child(1) img {
    margin-top: 24px;

    /*  */
    width: 40vh;
    height: 0.5vh;
}
.section-1 .container main section:nth-child(1) p{
    margin-top: 24px;
    color : #FEFBEC ;
    font-size: 18px;
   
}



.section-1 .container main section:nth-child(2) {
    display:flex;
    align-items: flex-end; /*Vertical*/
    justify-content: flex-end; /*Horizontal*/
    padding-right: 32px;
    padding-bottom: 1vh;
  
    /*  */
    /* border : solid rgb(70, 96, 240);
    background-color: rgba(157, 255, 0, 0.5);
    overflow: hidden; */
}




.section-2 {
    width : 100% ; 
    height : 80vh ;
    background-color: #2B3784    
}

.section-2 .container { 
    max-width : 1264px;
    height : 80vh ;
    margin : 0 auto;
    padding: 0px 32px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;

    /*  */
      
 }

 .section-2 .container h2 {
    font-size : 40px;
    text-align : center;
    color : #FEFBEC;
    margin-top : 64px;
 }

.section-2 .container p {
    font-size : 18px;
    color : #FEFBEC;
}
/* Aqui você aplica estilo no section ou card-container e faz efeito nos articles */
.section-2 .container .card-container {
    width: 70%;
    display:flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    
}
 .section-2 .container button {
    height: 48px;
    width: 320px;
    border-radius: 32px;
    font-weight: bold;
    border: 0 ;
    outline: 0;
    cursor :pointer;
    background-color: transparent;
    color: #FEFBEC ;
    border : 2px solid #FEFBEC;
    margin-bottom : 64px;
   
 }

 .section-3 {
    width : 100% ; 
    height : 80vh ;
    background-image: linear-gradient(to bottom,#ED4731, #ED4731  ,#b11313); 
 }

 .section-3 .container {
    max-width : 1264px;
    height : 80vh ;
    margin : 0 auto;
    padding: 0px 32px;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }

.section-3 .container h2 {
    font-size : 40px;
    text-align : center;
    color : #FEFBEC;
    margin-top: 64px;
}

 .section-3 .container .category-card-container {
     padding: 10px;
     margin-bottom: 64px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
     /*  */
     height: 38vh;
 }
 .section-3 .container .category-card-container section {
    display : flex;
    justify-content: space-between;
    
    
 }








