
.section-4 .box #items-wrapper #items .item .itemContainer .user-image-review {
    display: flex;
    justify-content: space-between;
}
.section-4 .box #items-wrapper #items .item .itemContainer .user-image-review img {
    pointer-events: auto;
    cursor: pointer;
   
}

.section-4 .box #items-wrapper #items .item .itemContainer .user-image-review img:nth-child(2) {
    width: 300px;
    pointer-events: none;
}

.section-4 .box #items-wrapper #items .item .itemContainer .review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;    
}
.section-4 .box #items-wrapper #items .item .itemContainer .review p {
    color : #FEFBEC ; 
    text-align: center;
    padding: 0px 6px;
}
.section-4 .box #items-wrapper #items .item .itemContainer .user-name-review h4 {
    text-align: center;
    font-size: 25px;
    color : #FEFBEC ; 
    margin-bottom: 64px;
}